<div class="employee-detail">
  <h1>Employee Edit</h1>

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-divider nzText="Basic Information" nzOrientation="left"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input first name!">
        <input nz-input formControlName="firstName" id="firstName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="middleName">Middle Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="middleName" id="middleName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input last name!">
        <input nz-input formControlName="lastName" id="lastName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="phoneNumber" id="phoneNumber" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthDate">Birth Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input birth date!">
        <nz-date-picker formControlName="birthDate" id="birthDate" nzPlaceHolder="Select birth date"
          [style.width.%]="100"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input gender!">
        <nz-radio-group formControlName="gender" nzButtonStyle="solid">
          <label nz-radio-button nzValue="Male">Male</label>
          <label nz-radio-button nzValue="Female">Female</label>
          <label nz-radio-button nzValue="Unspecified">Unspecified</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzText="Job Details" nzOrientation="left"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="jobCategories">Job Categories</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="jobCategories" id="jobCategories" nzMode="multiple"
          nzPlaceHolder="Select job categories" nzShowSearch>
          @for (category of (jobCategories$ | async); track category.id) {
          <nz-option [nzLabel]="category.title || ''" [nzValue]="category.id"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="countryId">Country</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="countryId" id="countryId" nzPlaceHolder="Select a country" nzShowSearch>
          @for (country of (countries$ | async); track country.id) {
          <nz-option [nzLabel]="country.name || ''" [nzValue]="country.id"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salary">Salary</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="salary" id="salary" type="number" placeholder="Enter salary amount" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="superiorId">Superior</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="superiorId" id="superiorId" nzPlaceHolder="Select a superior" nzShowSearch
          nzAllowClear>
          @for (employee of (employees$ | async); track employee.id) {
          <nz-option [nzLabel]="(employee.firstName || '') + ' ' + (employee.lastName || '')"
            [nzValue]="employee.id"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzText="Address" nzOrientation="left"></nz-divider>

    <div formGroupName="address">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="street">Street</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="street" id="street" placeholder="Enter street address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zipCode">Zip Code</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="zipCode" id="zipCode" placeholder="Enter zip code" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="city">City</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="city" id="city" placeholder="Enter city" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="addressCountryId">Country</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="countryId" id="addressCountryId" nzPlaceHolder="Select a country" nzShowSearch>
            @for (country of (countries$ | async); track country.id) {
            <nz-option [nzLabel]="country.name || ''" [nzValue]="country.id"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-divider nzText="Employment Dates" nzOrientation="left"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="joinedDate">Joined Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input joined date!">
        <nz-date-picker formControlName="joinedDate" id="joinedDate" nzPlaceHolder="Select joined date"
          [style.width.%]="100"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="exitedDate">Exited Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker formControlName="exitedDate" id="exitedDate" nzPlaceHolder="Select exited date"
          [style.width.%]="100"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="submit-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>