<div class="employee-detail">
  <h1>Employee Detail</h1>

  @if (employee(); as emp) {
  <nz-divider nzText="Basic Information" nzOrientation="left"></nz-divider>

  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="First Name">{{ emp.firstName || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Middle Name">{{ emp.middleName || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Last Name">{{ emp.lastName || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="E-mail">{{ emp.email || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Phone Number">{{ emp.phoneNumber || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Birth Date">{{ (emp.birthDate | date:'mediumDate') || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">{{ emp.gender || '-' }}</nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Job Details" nzOrientation="left"></nz-divider>

  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Job Categories">
      @if (emp.jobCategories && emp.jobCategories.length > 0) {
      @for (category of emp.jobCategories; track category.id) {
      <nz-tag [nzColor]="'blue'">{{ category.title }}</nz-tag>
      }
      } @else {
      <span>-</span>
      }
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Country">{{ emp.country?.name || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Current Salary">{{ emp.salary?.amount || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Superior">
      @if (emp.superior) {
      {{ emp.superior.firstName }} {{ emp.superior.middleName ? emp.superior.middleName + ' ' : '' }}{{
      emp.superior.lastName }}
      } @else {
      <span>-</span>
      }
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Subordinates">
      @if (emp.subordinates && emp.subordinates.length > 0) {
      @for (subordinate of emp.subordinates; track subordinate.id) {
      <nz-tag [nzColor]="'green'">{{ subordinate.firstName }} {{ subordinate.middleName ? subordinate.middleName + ' ' :
        '' }}{{ subordinate.lastName }}</nz-tag>
      }
      } @else {
      <span>-</span>
      }
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Address" nzOrientation="left"></nz-divider>

  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Street">{{ emp.address?.street || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Zip Code">{{ emp.address?.zipCode || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="City">{{ emp.address?.city || '-' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Country">
      @if (emp.country) {
      {{ emp.country.name }}
      } @else {
      <span>-</span>
      }
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Employment Dates" nzOrientation="left"></nz-divider>

  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Joined Date">{{ (emp.joinedDate | date:'mediumDate') || '-'
      }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Exited Date">{{ (emp.exitedDate | date:'mediumDate') || '-'
      }}</nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Salary History" nzOrientation="left"></nz-divider>

  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Salaries">
      @if (emp.salaries && emp.salaries.length > 0) {
      <div class="salary-history">
        @for (salary of emp.salaries; track salary.id) {
        <div class="salary-item">
          <strong>{{ salary.amount || '-' }}</strong>
          <span class="salary-period">
            ({{ (salary.from | date:'shortDate') || '-' }} - {{ salary.to ? (salary.to | date:'shortDate') : 'Present'
            }})
          </span>
        </div>
        }
      </div>
      } @else {
      <span>-</span>
      }
    </nz-descriptions-item>
  </nz-descriptions>
  }
</div>